<div class="conatiner p-4">
    <div class="row">
        <div class="col-md-4 mx-auto">
            <div class="card text-center">
                <div class="card-header">
                    <h3 class="text-uppercase">EDITANDO UNA PERSONA</h3>
                </div>
                <div class="card-body">
                    <form action="/edit/{{persona.id}}" method="post">
                     <div class="input-group mt-2">
                        <label for="nombre" class="input-group-text">Nombre</label>
                        <input class="form-control" type="text" name="nombre" id="nombre" value="{{persona.nombre}}" pattern="[A-Za-zÁ-Úá-úÑñ\s]+" title="Solo se permiten letras y espacios" placeholder="Ejemplo: Luis Angel" autofocus required oninput="this.value = this.value.toUpperCase();">
                    </div>

                    <div class="input-group mt-2">
                        <label for="apellido" class="input-group-text">Apellido</label>
                        <input class="form-control" type="text" name="apellido" id="apellido" value="{{persona.apellido}}" pattern="[A-Za-zÁ-Úá-úÑñ\s]+" title="Solo se permiten letras y espacios" placeholder="Ejemplo: Fernandez" required oninput="this.value = this.value.toUpperCase();">
                    </div>

                   <div class="input-group mt-2">
                        <label for="numero" class="input-group-text">Número</label>
                        <input class="form-control" type="text" name="numero" id="numero" value="{{persona.numero}}" pattern="[0-9]{1,10}" title="Solo se permiten números de hasta 10 dígitos" placeholder="09586232" required>
                    </div>
                    <div class="form-group mt-4 d-grid gap-2">
                        <button class="btn btn-success"> Actualizar</button>
                    </div>
                    
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>